TAILSCALE_IPV4=100.100.100.100
GARAGE_DEFAULT_ACCESS_KEY=GK_replace_with_random_hex
GARAGE_DEFAULT_SECRET_KEY=replace_with_random_hex
GARAGE_DEFAULT_BUCKET=azalea-images
BRONZE_READ_GID=replace_with_azalea_read_group_id
